
    {{#each postagens}}

<div class="card mt-4">
    <div class="card-body">
        <h4>{{titulo}}</h4><br>

        <p>{{descricao}}</p><br>
        
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia Mais</button></a><hr>
        
        <small>Data de criação: {{data}}</small> <br>

    </div>
</div>
     {{else}}
     <div class="card card-body">
     <h4>Nenhuma Postagem Registrada!</h4>
     </div>
     {{/each}}